/* screen.css: Screen Styles */

/* COLORS

Light gray rgb(206, 206, 206) #b9bcbb
Mid-gray rgb(179, 179, 179) #b7b8b8
Dark gray rgb(141, 142, 142) #8d8e8e

Yellow Green rgb(184, 196, 138) #b8c48a
Sea Green rgb(138,196,170) #8ac4aa

Pink Purple rgb(176, 138, 196) #b08ac4
Light Blue rgb(138, 187,196) #8abbc4

**/

body {
   margin:  0;
   width: 100%;
}

/***** FONTS *****/

h1, h2, h3, h4, hr, h4 a{
   font-family: "Amaranth", Arial, sans-serif;
   font-weight: 700;
}

p, a, li, label {
   font-family: Muli /** "Open Sans Condensed" **/, Arial, sans-serif;
   margin: 8px auto;
   font-size: .9em;
   line-height: 1.3em;
}

h2.title, p.title{
   color: rgb(138,196,170);
}


div#wrapper {
   width: 100%;
   clear: both;
}

/** div#header {
   background-color: rgb(164, 164, 164); /*Backup*/
   /**background-color: rgba(179, 179, 179, 1);
   clear: 
}**/

.about {
   background-color: rgba(141, 142, 142, 1);
}

.block-main{
   background-color: #fff;
}

h3.lead {
   font-size: 1.3em;
}

.block-main p, h3 {
   color: #94AB3A;
}

.block-misc {
   background-color:  rgb(206, 206, 206);
}

.block-main, .block-misc, .block-title {
   padding: 23px 20px;
   margin: 0px;
}

div#header {
   margin: 0;
  /** padding: 10px 0px;**/
   width: 100%;
}
/**
#header nav {
   padding: 20px 1%;
} **/

div#footer {
   background-color: rgb(138,196,170);
   margin: 0;
   padding: 20px 2%;
}

/*****  Navigation  *****/

nav#main {
   float: left;
   /**padding: 10px 1px 0px;**/
   width: 100%;
   /**clear: both;**/
}

nav#main ul li{
   display: inline;
}

a {
   text-decoration: none;
}

nav#main li a {
   width: 21%; 
   /*max-width: 100px;*/
   float: left;
   padding: 10px 15px;
   margin: 0px 1%;
   border-top-left-radius: 8px;
}

nav#main li a:hover, nav#main li a:active {
   border-top-left-radius: 0px;   
}

nav#main ul {
   width: 100%;
   padding: 0px;
   margin: auto 3px;
}

a.nav-home {
   background-color: #8ac4aa;
}

a.nav-about {
   background-color: #b8c48a;
}

a.nav-work {
   background-color: #8abbc4;
}



nav {
   margin: 0px;
   padding: 0px;
}

/** nav#main ul {
   margin: 20px 3%;
} **/
/**
a.nav-home, a.nav-about, 
a.nav-work, a.nav-contact {
    width: 23%;
    max-width: 75px;     
    float: left;
    padding: 30px 35px 7px 15px; 
    margin: 2px 4px;
    border-radius: 18px;
   /** -webkit-box-shadow: inset 6px -7px 7px -9px #000; 
    -moz-box-shadow: inset 6px -7px 7px -9px #000; 
    box-shadow: inset 3px -6px 7px -8px #000; **/
}
nav#main a:hover, nav#main a:active {
  opacity: .7;
   -moz-opacity: .7;
}

**/

ul, li {
   margin: 0px;
   padding: 0px;
}

li {
   list-style-type: none;
}   