/* screen.css: Screen Styles */

/* COLORS

Light gray rgb(206, 206, 206) #b9bcbb
Mid-gray rgb(179, 179, 179) #b7b8b8
Dark gray rgb(141, 142, 142) #8d8e8e

Yellow Green rgb(184, 196, 138) #b8c48a
Sea Green rgb(138,196,170) #8ac4aa

Pink Purple rgb(176, 138, 196) #b08ac4
Light Blue rgb(138, 187,196) #8abbc4

**/


body {
   margin:  0;
   width: 100%;
}

/***** FONTS, TEXT *****/

h1, h2, h3, h4, hr {
   font-family: "Amaranth", Arial, sans-serif;
   font-weight: 700;
} 

p, a, li, label {
   font-family: Muli /** "Open Sans Condensed" **/, Arial, sans-serif;
   font-size: .9em;
   line-height: 1.3em;
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.7em;
}

h3 {
   font-size: 1.4em;
}

h4 {
   font-size: 1.1em;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

/***** HEADER *****/

#header {
   margin: 0px auto;
}
#logo img {
   display: block;
   margin: 0 auto;
}

@media screen and (min-width: 640px) {
#logo img {
   float: left;
   margin: 5%;
}
}


/*****  Navigation  *****/


nav#main {
   width: 100%;
}

@media screen and (min-width: 400px) {
nav#main {
  margin-left: 30%;  
   clear: right;
   width: 60%;
   
}
}

nav#main ul {
   margin: 20px auto;
}

nav#main ul li {
   display: inline;
   float: left; 
   font-size: 1.1em;
}

a.nav-home, a.nav-about, 
a.nav-work, a.nav-contact {
   width: 20%;
   max-width: 75px;     
   float: left;
   padding: 10px 14px;
   margin: 0px 3%;
   border-radius: 17px;
   border-top-left-radius: 8px;
   color: grey;
   font-weight: 600;
   /**-webkit-box-shadow: inset 6px -7px 7px -9px #000; 
    -moz-box-shadow: inset 6px -7px 7px -9px #000; 
    box-shadow: inset 3px -6px 7px -8px #000; **/
}
nav#main li a:hover  {
   opacity: .7;
   -moz-opacity: .7;
}

a.nav-home {
   background-color: #8ac4aa;
}

a.nav-about {
   background-color: #b8c48a;
}

a.nav-work {
   background-color: #8abbc4;
}

/***** WRAPPER *****/

#wrapper {
   clear: both;
   padding-top: 15px;
}

.block-index {
   padding: 20px 30px;
}

.block-log {
   background-color: #8d8e8e;
   padding: 20px 30px;
}

.block-title {
   background-color: #8d8e8e;
   padding: 20px 30px;
}

.block-title p {
   color: #8ac4aa;
}

.about h2, .work h2 {
   color: #8ac4aa;
}

.block-index h1 {
   margin: 0 auto;
   text-align: center;
   color:  #b08ac4;
}

.designer {
   text-transform: uppercase;
}

.block-about, .block-projects {
   background-color: #fff;
   padding: 10px 30px;
}

.block-about p {
   color: #94AB3A;
}

.block-misc {
   padding: 10px 30px;
}


/***** FOOTER *****/

div#footer {
   background-color: rgb(138,196,170);
   margin: 0;
   padding: 20px 2%;
}

#touch, #quote, #site {
   padding: 0px 20px;
}

#touch ul li{
   display: inline;
   float: left;
   margin: 0px 20px;
}

#quote {
   clear: both;
   margin-top:  50px;
}

#quote p {
  margin: 0px auto;
}

#site {
   

/**
#header nav {
   padding: 20px 1%;
} **/

/***** Tools *****/
/**
li.tool {
   padding: 2px 5px;
   display: inline-block;
   margin: 4px;
   height: 1.5em;
   padding: 5px 20px;
   vertical-align: middle;
}
li.adobe {
   background-color: #b08ac4;   
}

li.office {
   background-color: #b8c48a;
}

li.apple {
   background-color: #8abbc4;
}

li.web {
   background-color: #eae28a ;
}
li.other {
   background-color: #8ac4aa;
}
**/
/*
li.ten {
   width: 100%;
   max-width: 400px;
}

li.nine {
   width: 90%;
   max-width: 360px;
   min-width: 100px;

}
li.eight {
   width: 80%;
   max-width: 32px;
   min-width: 100px;

}
li.seven {
   width: 70%;
   max-width: 200px;
   min-width: 100px;

}
li.six {
   width: 60%;
   max-width: 200px;
   min-width: 100px;

}
li.five {
   width: 50%;
   max-width: 200px;
   min-width: 100px;

}
li.four {
   width: 40%;
   max-width: 200px;
   min-width: 100px;
}
*/
/**
.design {
   width: 100%;
}
**/
/**
p.type {
   font-size: 2.4em;
   color: #b08ac4;
   float: left;
   margin: 0px;
   width: 10%;
  /* position: absolute;
   top: 31%;
   left: 3%;
   clear: both;
   -webkit-transform: rotate(-90deg) /* Safari */ ; 
   -moz-transform: rotate(-90deg) /* Firefox */ ;
   -ms-transform: rotate(-90deg) /* IE */;
   -o-transform: rotate(-90deg) /* Opera */; **/
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) /* Internet Explorer */;
}
**/
/**
li.ten {
  opacity: 0.10;
   -moz-opacity: 0.10;
   color: green;
   text-transform: uppercase;   
}
**/
/**
li.nine {
   width: 90%;
   max-width: 360px;
   min-width: 100px;

}
li.eight {
   width: 80%;
   max-width: 32px;
   min-width: 100px;

}
li.seven {
   width: 70%;
   max-width: 200px;
   min-width: 100px;

}
li.six {
   width: 60%;
   max-width: 200px;
   min-width: 100px;

}
li.five {
   width: 50%;
   max-width: 200px;
   min-width: 100px;

}
li.four {
   width: 40%;
   max-width: 200px;
   min-width: 100px;
}
***/